{{define "main"}}
<section class="page">
    <h1>{{.Title}}</h1>
    {{ $author := "false" }}
    {{  if not (eq .Params.Author $author) }}
    <p><b>By : </b><a class="link" target="_blank" href="{{ .Params.author_about }}">{{ .Params.Author }}</a></p>
    {{ end }}
    <small><b>Published on: </b>{{ .PublishDate.Format "January 2, 2006" }} | <b>Reading Time:</b> {{.ReadingTime}} min
      <br>
    </small>
    {{range .Params.Tags }}
      <span class='label' style='margin: 0.4em'>
        <a style="color: white; text-decoration: none;" href='{{ "tags/" | absURL }}{{.}}'>{{.}}</a>
      </span>
    {{end}}
    {{ if .IsTranslated }}
      <p>Also available in: </p>
	    <nav class="LangNav">
	    {{ range .Translations }}
      <a class="link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
	    {{ end}}
	    </nav>
    {{ end }}
    <hr>
    {{.Content }}
    {{ if .Params.Discussionlink }}
    <div class="comments">
        <a href="{{.Params.Discussionlink}}"><img src='{{"img/loomio.svg" | absURL }}' alt="" />{{ i18n "discussion" }}</a>
    </div>
    {{end}}
</section>
{{end}}
